/*  구글 웹폰트 로딩  */
/* 외부 스타일(.css) 로 할때는 아래같이 @import로  */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/* reset */

a {
    color: inherit;
    text-decoration: none;
}

button, input {
    border: none;
    outline: none;
    color: inherit;
}

/* common */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

body, .wrap {
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}

.en {
    font-family: 'Exo 2', sans-serif;
}

br.mo {
    display: none;
    /* 모바일 환경에서 원하는 위치에서 줄바꿈을 하는 설정을 하기위해 br 을 쓰고 display none 으로한다.
        모바일 에서는 위설정을 풀어주면 원하는 위치에서 줄바꿈 */
}

/* header style */
header {
    /* background: tomato; */
    background: rgba(0,0,0, 0.2);
    height: 100px;  
    line-height: 100px;

    /* w100%가 깨짐 -> 유지하려면 수동으로 써줘야한다.*/
    width: 100%;  
    position: fixed;
    top: 0;
    z-index: 1000;
}

header .inner-header {
    /* background: greenyellow; */
    width: 84%;
    margin: 0 auto;
}

header .inner-header .logo {
    /* background: skyblue; */
    float: left;
    width: 200px;
}

header .inner-header .logo img {
    width: 100%;
}

header .inner-header .gnb {
    /* background: violet; */
    float: left;
    margin-left: 80px;
}

header .inner-header nav li {
    float: left;
}

header .inner-header nav li a {
    font-size: 16px;
    color: #fff;
    display: block;
}

header .inner-header .gnb li {
    margin-right: 80px;
}

header .inner-header .gnb li a:hover {
    color: #ff8342;
}

header .inner-header .tnb {
    /* background: orangered; */
    float: right;
}

header .inner-header .tnb li {
    margin-right: 25px;
}

header .inner-header .tnb li a {
    text-align: center;
}
header .inner-header .tnb li:first-child i,
header .inner-header .tnb li:nth-child(2) i {
    margin-right: 8px;
    font-size: 20px;
}
header .inner-header .tnb li:last-child i {
    margin-left: 5px;
}
header .inner-header .tnb li:last-child a {
    display: block;
    width: 105px;
    line-height: 2;
    border: 1px solid #fff;
    border-radius: 30px;
    margin-top: 33px;   
}
header .inner-header .tnb li:last-child a:hover{
    background: #fff;
    color: #ff8342;
}

/* section main style */
section.main {
    background: url('../img/vis_4.jpg') 
     no-repeat center / cover fixed;

    width: 100%;
    height: 100vh;
    position: relative;
}
section.main .main-title {
    /* background: red; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    color: #fff;
    text-align: center;

    /* x축 그림자 길이, y축 길이, 블러크기, 색상 */
    text-shadow: 3px 3px 5px rgba(0,0,0, 0.7);
}
section.main .main-title h2 {
    font-size: 55px;
}
section.main .main-title p {
    font-size: 25px;
    margin: 20px 0;
}
section.main .main-title .view {
    display: block;
    font-size: 15px;
    border: 1px solid #fff;
    border-radius: 40px;
    padding: 8px 0;
    width: 180px;
    margin: 0 auto;
    letter-spacing: 2px;
}
section.main .main-title .view:hover {
    background: rgba(255,255,255, 0.4);
}


/* section about style */
section.about {
    /* background: orange; */
    padding: 80px 0;
}
section .title {
    text-align: center;
}
section .title h2{
    font-size: 45px;
    margin-bottom: 5px;
}
section .title p {
    font-size: 18px;
    color: #555;
}
section.about ul {
    /* background: orange; */
    width: 74%;
    margin: 30px auto;
}
section.about ul li {
    float: left;
    width: 33.333%;
}
section.about ul li a:hover img{
    /* 마우스올렸을때 영역은 a태그 */
    /* 효과는 이미지이므로 뒤에 img를 써준다 */
    transform: scale(1.2);
    transition: 0.6s;
}
section.about ul li .img-box {
    /* width:100% */
    overflow: hidden;
}
section.about ul li .img-box img {
    width: 100%; /* 인라인이라 상속안됨 -> 수동으로 써줘야 함. */
}

section.about ul li .text {
    padding: 25px;
}
section.about ul li .text h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
section.about ul li .text p {
    font-size: 16px;
    margin-bottom: 20px;
}
section.about ul li .text p.more{

}


/* section innovation style */
section.innovation {
    margin-bottom: 150px;
}

section.innovation .img-box {
    width: 74%;
    height: 540px; /* 배경이미지 크지 지정 */
    margin: 50px auto 0;
    background: url('../img/product_1.jpg')
     no-repeat center / cover;
    
    position: relative;
}

section.innovation .img-box .inner {
    background: #3a3c4e;
    color: #fff;

    width: 80%;
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, 0); 
    /* l 50% t 50% 하면 가운데에 박스의 좌측위 꼭지점이 위치한다
        transform ~ 설정은 이 박스의 위치를 박스자체가 가운데로 오도록 해주는 역할 */
}

section.innovation .img-box .inner h3 {
    background: #fff;
    color: #222;
    font-size: 18px;
    padding: 25px 45px;
    box-sizing: border-box;
}
section.innovation .img-box .inner .bottom {
    padding: 35px 85px;
    box-sizing: border-box;
}
section.innovation .img-box .inner .bottom p {
    width: 70%;
    float: left;
    line-height: 1.6;
}
section.innovation .img-box .inner .bottom a {
    float: right;
    background: #ff8342;
    border-radius: 50px;
    padding: 7px 30px;
}
section.innovation .img-box .inner .bottom a:hover {
    background: #f86010;
}

/* section me style */
section.me {
    padding: 80px 0; /* 배경사진이 밀리지않게 마진이 아닌 패딩으로 공백을 준다. */
    margin-bottom: 150px;
    background: url('../img/me.jpg') 
        no-repeat center / cover;
}
section.me ul.list {
    width: 74%;
    margin: 50px auto;
    /* background: orange; */
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
/* > 직속 자식을 쓰는이유 : 다른곳에 다른 li 가 있어 같이 잡히지 않게 하기 위해 */
section.me ul.list > li {
    padding: 30px 60px;
}
section.me ul.list > li:first-child {
    border-bottom: 1px solid #ddd;
}
section.me ul.list > li h3 {
    font-size: 18px;
    margin-bottom: 20px;
    position: relative; /* 아래 포지션이 h3안에서 움직이도록 하기위해 설정 */
}
section.me ul.list > li h3 span {
    position: absolute;
    left: -35px;
    color: #ff8342;
}
section.me ul.list > li p {
    line-height: 1.6;
    margin-bottom: 20px;
}
section.me ul.list > li .more {
    font-size: 16px;
    font-weight: 700;
}
section.me ul.list > li .more span {
    color: #ff8342;
    margin-left: 3px;
    font-size: 14px;
}

section.me ul.list ul.in {
    margin-bottom: 30px;
}

section.me ul.list ul.in li em {
    float: left;
    font-weight: 700;
    width: 12%; /* margin을 줄때 글자수가 다르기때문에 뒤의 글앞머리가 일직선이 되지 않는다. 
                가로글이를 잡아주면 글자수의 상관없이 가로길이가 같아지므로 마진을 줘도 글앞머리가 일직선이 된다.*/
}
section.me ul.list ul.in li p {
    float: left;
    position: relative;
}
section.me ul.list ul.in li p::before {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #ff8342;
    position: absolute;
    left: -40px;
    top: 10px;
    /* ::before, after 에서 필수 속성 : content: '';, display:block; */
    /* display:block; 이 없는이유 : float 나 position이 있으면 display:block; 이 자동으로 들어간다. */
}

#incruit-btn {
    display: block;
    width: 280px;
    background: #ff8342;
    color: #fff;
    margin: 0 auto;
    font-weight: 700;
    border-radius: 50px;
    padding: 10px 0;
    cursor: pointer;
}


/* section sns style */

section.sns {
    margin-bottom: 60px;
}
section.sns ul {
    width: 74%;
    margin: 50px auto;
}

section.sns ul li {
    float: left;
    /* border: 2px solid #000; */
    box-sizing: border-box;

    width: 32%;
    margin-right: 2%;
}

section.sns ul li:last-child {
    margin-right: 0;
}

section.sns ul li .img-box {
    height: 210px;
    overflow: hidden;
    
}

section.sns ul li .img-box img {
    width: 100%;
}

section.sns ul li .bottom {
    padding: 20px 0 20px 30px;
    box-sizing: border-box;
}
section.sns ul li .bottom p {
    font-size: 18px;
}
section.sns ul li .bottom p.color {
    color: #ff8342;
    font-size: 15px;
    margin-bottom: 10px;
}
section.sns ul li .bottom p.time {
    color: #999;
    font-size: 14px;
    margin-top: 30px;
}
section.sns ul li .bottom p.time i {
    margin-right: 5px;
    font-size: 0.9em;
}

/* footer style */
footer {
    border-top: 1px solid #999;
    padding: 30px 0;
}
footer .inner {
    width: 84%;
    margin: 0 auto;
}
footer .inner .ft-logo {
    float: left;
    width: 14%;
}
footer .inner .ft-logo img {
    width: 100%;
}
footer .inner .address {
    float: left;
    margin-left: 100px;
    margin-top: 35px;
}
footer .inner .address li:first-child {
    font-weight: 700;
    margin-bottom: 10px;
}
footer .inner .address li:last-child {
    color: #999;
}

footer .inner .list {
    float: right;
    margin-top: 40px;
}
footer .inner .list li {
    float: left;
    margin-left: 80px;
}
footer .inner .list li:last-child {
    font-weight: 700;
}
footer .inner .list li a:hover {
    color: #ff8342;
    text-decoration: underline;
}