/*  구글 웹폰트 로딩  */
/* 외부 스타일(.css) 로 할때는 아래같이 @import로  */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/* reset */

a {
    color: inherit;
    text-decoration: none;
}

button, input {
    border: none;
    outline: none;
    color: inherit;
}

/* common */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

body, .wrap {
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}

.en {
    font-family: 'Exo 2', sans-serif;
}

/* header style */
header {
    /* background: tomato; */
    background: rgba(0,0,0, 0.2);
    height: 100px;  
    line-height: 100px;

    /* w100%가 깨짐 -> 유지하려면 수동으로 써줘야한다.*/
    width: 100%;  
    position: fixed;
    top: 0;
    z-index: 1000;
}

header .inner-header {
    /* background: greenyellow; */
    width: 84%;
    margin: 0 auto;
}

header .inner-header .logo {
    /* background: skyblue; */
    float: left;
    width: 200px;
}

header .inner-header .logo img {
    width: 100%;
}

header .inner-header .gnb {
    /* background: violet; */
    float: left;
    margin-left: 80px;
}

header .inner-header nav li {
    float: left;
}

header .inner-header nav li a {
    font-size: 16px;
    color: #fff;
    display: block;
}

header .inner-header .gnb li {
    margin-right: 80px;
}

header .inner-header .gnb li a:hover {
    color: #ff8342;
}

header .inner-header .tnb {
    /* background: orangered; */
    float: right;
}

header .inner-header .tnb li {
    margin-right: 25px;
}

header .inner-header .tnb li a {
    text-align: center;
}
header .inner-header .tnb li:first-child i,
header .inner-header .tnb li:nth-child(2) i {
    margin-right: 8px;
    font-size: 20px;
}
header .inner-header .tnb li:last-child i {
    margin-left: 5px;
}
header .inner-header .tnb li:last-child a {
    display: block;
    width: 105px;
    line-height: 2;
    border: 1px solid #fff;
    border-radius: 30px;
    margin-top: 33px;   
}
header .inner-header .tnb li:last-child a:hover{
    background: #fff;
    color: #ff8342;
}

/* section main style */
section.main {
    background: url('../img/vis_4.jpg') 
     no-repeat center / cover fixed;

    width: 100%;
    height: 100vh;
    position: relative;
}
section.main .main-title {
    /* background: red; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    color: #fff;
    text-align: center;

    /* x축 그림자 길이, y축 길이, 블러크기, 색상 */
    text-shadow: 3px 3px 5px rgba(0,0,0, 0.7);
}
section.main .main-title h2 {
    font-size: 55px;
}
section.main .main-title p {
    font-size: 25px;
    margin: 20px 0;
}
section.main .main-title .view {
    display: block;
    font-size: 15px;
    border: 1px solid #fff;
    border-radius: 40px;
    padding: 8px 0;
    width: 180px;
    margin: 0 auto;
    letter-spacing: 2px;
}
section.main .main-title .view:hover {
    background: rgba(255,255,255, 0.4);
}


/* section about style */
section.about {
    /* background: orange; */
    padding: 80px 0;
}
section.about .title {
    text-align: center;
}
section.about .title h2{
    font-size: 45px;
    margin-bottom: 5px;
}
section.about .title p {
    font-size: 18px;
    color: #555;
}
section.about ul {
    /* background: orange; */
    width: 74%;
    margin: 30px auto;
}
section.about ul li {
    float: left;
    width: 33.333%;
}
section.about ul li a:hover img{
    /* 마우스올렸을때 영역은 a태그 */
    /* 효과는 이미지이므로 뒤에 img를 써준다 */
    transform: scale(1.2);
    transition: 0.6s;
}
section.about ul li .img-box {
    /* width:100% */
    overflow: hidden;
}
section.about ul li .img-box img {
    width: 100%; /* 인라인이라 상속안됨 -> 수동으로 써줘야 함. */
}

section.about ul li .text {
    padding: 25px;
}
section.about ul li .text h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
section.about ul li .text p {
    font-size: 16px;
    margin-bottom: 20px;
}
section.about ul li .text p.more{

}

